.footer {
  bottom: 0;
  left: 0;
  position: relative;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  border-top: 2px solid #12ef15;
}

.footer li{
  list-style: none;
  padding: .5rem;
}

.footer ul {
  padding: 0;
}

.footer a {
  text-decoration: none;
  color: #12ef15;
}