@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
  background: fixed linear-gradient(#061807, #0d530d, #061807);
  font-family: 'Share Tech Mono', monospace;
  color: #12EF15;
}

.linea-animada {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0) 20%, #147716);
  animation: 8s fondo infinite linear;
  z-index: -1;
}

@keyframes fondo {
  from{
    bottom: 100vh;
    opacity: 100%;
  }
  to{
    bottom: 0;
    opacity: 0;
  }
}

/* img {
  filter:  sepia(100%) hue-rotate(80deg) saturate(150%) contrast(150%);
  filter: invert(1) sepia(100%) hue-rotate(80deg) saturate(150%) contrast(150%); 
} */

.trademark-msg {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
}