.answer-btn {
  border: none;
  background: none;
  font-family: 'Share Tech Mono', monospace;
  color: #12EF15; 
  text-align: left;
  width: 100%;
  font-size: 1.25rem;
  margin: 1rem;
  cursor: pointer;
}

.answers-div {
  list-style: none;
  padding-top: 2rem;
}

.question-div {
  padding-top: 2rem;
}